<% provide(:title, "Sign in") %>
<div style="padding-left:315px;font-size:35px;margin-bottom:40px;margin-top:30px;font-weight: bold;">Sign in</div>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

       <div style=" margin-top:5px;"><%= f.submit "Sign in", class: "btn btn-large btn-primary" %></div>
    <% end %>

    <div style=" margin-top:60px;min-height: 200px;"> New user? <%= link_to "Sign up now!", signup_path %>
    </div>
  </div>
</div>