<% provide(:title, "Edit Password") %>
<h1 >Update your password</h1>

<div style="min-height:500px;">

  <div class="row">
    <div class="span6 offset3">
      <%= form_for @user,:url => update_password_user_path(@user), html: {id: "edit_pass"} do |f| %>
      <%= render 'shared/error_messages', object: f.object %>


        <%= f.label :old_password %>
        <%= f.password_field :old_password %>

        <%= f.label :new_password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation %>



         <div style=" margin-top:5px;"><%= f.submit "Save changes", class: "btn btn-large btn-primary" %></div>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_tag do %>
  passValidation.checkSubmit();
<% end %>