<% provide(:title, "Edit Event") %>
<h1>Update the event</h1>

<div style="min-height:500px;">
  <div class="row">
    <div class="span6 offset3">
      <%= form_for(@event) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>


        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :description %>
        <%= f.cktext_area :description %>

       <div style="margin-top:10px"> 
        <%= f.label :venue %>
        <%= f.text_field  :venue %>
        </div>

         <%= f.label :choose_catgeory %>
        <%= f.collection_select :category_id, Category.order(:name),:id,:name, include_blank: true %>
        
         <div style=" margin-top:5px;"><%= f.submit "Save changes", class: "btn btn-large btn-primary" %></div>
      <% end %>
    </div>
  </div>
</div>  