<% provide(:title, 'All events') %>
<h1 class="header_name">All Events</h1>


<div style="min-height:500px;">

  <div style="margin-left:80%;margin-right:25px">
    <% if signed_in_admin? %>
      <%= link_to "Add Event",new_event_path, class: "pull-right"%>
    <%end%>
  </div>
  <div class="clearfix">
    <div style="float:left;margin-top:20px;margin-bottom:40px;">
      <%= form_for :category, format: :js, url: events_path, method: :get, remote: true, :html => {:id => "filter_category"} do |f| %>
      <%= f.label :choose_category, class: "strong" %>
      <%= f.collection_select :id, Category.order(:name),:id,:name,  {:include_blank => 'All Categories'}, id: "events_category_list" %>
      <% end %>
    </div>


    <div class = "events_container" id="events_container">
      <%= render 'event_show' %>
    </div>
  </div>
</div>